@-moz-document url-prefix("https://next.amboss.com/us/") {

:root {
    --bg-color: #37474f;
    --bg-darker: #37474f;
    --color: #FFEAC1;
    --aqua-green: rgb(34, 225, 207);
    --acb: hsl(200, 18%, 17%);
}
html {
    scrollbar-width: auto;
    scrollbar-color: #123f55 #222;
}

/* Search bar*/
.react-autosuggest__suggestion.react-autosuggest__suggestion--highlighted a {
    background: #35374a!important;
}
div[class^="drawer"] {

    background-color: hsl(201, 20%, 27%);
}
[data-e2e-test-id="show-all-results-button"]:hover {
    background: #35374a!important;
}

svg path {
    fill: var(--color);
}
button svg g path {
    fill: #99A7B3;
}
/* Blue Boxes */
.merkspruch.content-box.blue {
    background-color: hsl(201, 20%, 27%);
    color: rgb(153, 222, 223);
    border-color: #19c2db;
}
.merkspruch.content-box.blue svg path {
    fill: none;
    stroke: rgb(112, 160, 233);
}
/* Green Boxes */
.merke.content-box.green {
    background-color: hsla(150, 20%, 23%, .56);
    color: rgb(142, 221, 191);
    border-color: #19c2db;
}

/* Red Boxes */
.cave.content-box.red {
    background-color: hsla(0, 21%, 30%, .74);
    color: rgb(191, 210, 92);
    border-color: #db6719;
}
::selection {
    color: #000;
}
div[class^="viewOptionsToggles"] {
    background-color: #2d3a40;
    color: var(--color);
    border-color: rgb(68, 74, 73);
}
.activeHighlight__relevance .highlight__highlightYellowB {
    color: #373a4a !important;
    background-color: #f6eaa1ed;
}
.table-control-container,
.table-wrapper {
    background-color: var(--acb)!important;
    border: unset;
}
.table-control-container button {
    background-color: var(--acb)!important;
}
#references a span {
    color: #fff!important;
}
div[class^="children"] {
    background: #577382;
    color: var(--color);
}
table th {

    color: #f0e4cd!important;
    background-color: #364757ed!important;
}

/* Popup Container */
[data-e2e-test-id="phrasonary-title"] {
    color: #eee8dd;
}
div[class^="translation"] {
    color: #cdeef0;
}
div[class^="abstract"] {
    color: #f0e4cd;
}

div[class^="linksContainer"] {
    border-top: 1px solid rgb(96, 165, 217);
}

div[class^="iconWrapper"] {
    border-right: unset;
}
div[class^="phrasonaryContainer"].div[class^="textContent"].div[class^="header"].div[class^="title"] {

    color: #ffffffed!important;
}
table td {

    color: #f0e4cd!important;
    background-color: #374b5eed!important;
}
div[class^="breadcrumbsContainer"] {
    background-color: #233239;
    color: var(--color);
    border-color: rgb(68, 74, 73);
}
div[class^="toolbar"] {
    border: unset;
}
div[class^="contentContainer"] {
    background-color: #222;
    color: var(--color);
    border-color: rgb(68, 74, 73);
}

div[class^="topNavCon"] {
    background-color: var(--bg-color);
    color: var(--color);
    border-color: rgb(68, 74, 73);
}
div[class^="contextNavC"] {
    background-color: var(--bg-color);
    color: var(--color);
}
[id="High-Yield"],
[id="Learning Radar"],
[id="Highlight"] {
    background-color: rgb(56, 89, 121);
}
div[class^="focusClassName"][class^="node"] {
    background-image: linear-gradient(to right, rgb(123, 142, 157) 0%, rgb(123, 142, 157) 4px, rgb(10, 50, 89) 5px) !important;
}
div[class^="contextNavChild"] div[class^="container"]:hover {
    background-color: #4f6875;
}
div[class^="innerRow"] div[class^="container"] {

    background-color: var(--atc);
}
button[class^="base"] {
    background-color: hsl(199, 24%, 23%);
}
[data-e2e-test-id="outline-title"] {
    color: rgb(96, 165, 217);
}
article {
    background-color: var(--acb);
    color: var(--color);
}
/* First search result*/
div[class^="hideOverflow"]{    
    background-color: var(--acb);
}
[data-e2e-test-id="phrasonary-synonym"]{
    color: rgb(96, 165, 217);
}
/* Search result icons*/
div[class^="container"] div[class^="icon"]{    
    background-color: var(--acb);
    
}
a[class^="articleLink"] div{    
    background-color: var(--acb);
    
}

h1,
h2 {
    color: #87c3ea !important;
}
}